#sidebar {
    background-color: #222;
    border-color: #080808;
    color: #e5e5e5;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
}

#wrapper {
    margin: 0 0 0 250px;
}

#main {
    padding: 4px;
    margin: 0;
}